<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="seleniumClass.TestNG5"/>
      <class name="seleniumClass.Assertion1"/>
      <class name="seleniumClass.TakingScreenShots2"/>
      <class name="seleniumClass.TestClass"/>
      <class name="seleniumClass.TestNG3"/>
      <class name="seleniumClass.TestNG4"/>
      <class name="seleniumClass.TestNG2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
